:root {
	--color: black;
	--bg-color: #fbfbf0;
	--border-bg-color: Gainsboro;
	--main-bg-color: white;
	--green: #28B463;
	--red: rgb(255, 10, 30); 
}

.spa {
	display: flex;
	margin: 10px;
	color: var(--color);
}

.navbar {
	position: relative;
	background-color: var(--bg-color); /*#36393e;*/
	backdrop-filter: blur(30px);
	color: var(--color);
	height: 30px;
	padding: 10px;
	border-bottom: 1px solid var(--border-bg-color);
}

.navbar > div {
	position: absolute;
	left: 1%;
	background: url(https://a.marketing.englishlive.ef.com/_assets/logos/englishlive.svg) no-repeat;
	background-size: 200px 30px;
	width: 100vh;
	height: 60%;
}

.navbar > nav {
	position: absolute;
	right: 0;
	filter: none;
}

.navbar > nav > ul {
	display: flex;
	margin: 0 auto;
	list-style: none;
}
.navbar > nav > ul > li {
	margin-right: 30px;
}

.navbar > nav > ul > li:hover {
	position: relative;
}

.navbar > nav > ul > li:hover > div {
	position: absolute;
	top: 39px;
	background: black;
	animation: border-expand 0.1s 1;
	animation-fill-mode: forwards;
	height: 10%;
}

.align {
	position: relative;
}


.flex {
	position:	relative;
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.flex_column {
	position:	relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.flex_column > * {
	margin-bottom: 2%;
}

.flex > * {
	margin: 1%;
	border: solid gray 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: #E2DFD2;
	overflow: hidden;
	width: 600px;
	height: 500px;
}

.container_session {
	display: block;
	position: relative;
	/*justify-content: space-between;*/
	/*align-items: end;*/
	overflow: hidden;
	text-align: center;
}

.container_session_buttons {
	position: absolute;
	display: flex;
	bottom: 0;
	padding: 0;
	margin: 0;
	width: 100%;
}

.container_session_buttons > * {
	position: relative !important;
	padding-bottom: 0 !important;
	bottom: 0 !important;
}

.container_session_logs > textarea {
	position: absolute;
	bottom: 8%;
	left: 0;
	resize: none;
	width: 99%;
	height: 40%;
}

.container_session_top {
	position: absolute !important;
	width: 100%;
	top: 0;
	padding: 0;
	margin: 0;
	height: 50px;
}

.container_session > ul {
	position: absolute;
	right: 0;
	left: 0;
	padding: 0;
	list-style: none;
	bottom: 30%;
}

.container_session_status {
	position: relative;
	width: 100%;
	height: 5%;
	top: 20%;
	background: gray;
	
}

.container_session_status_running {
	background: #28B463 !important;
}

.container_session_status_stop {
	background: #E74C3C !important;
}

.deleted_session {
	position: absolute;
	background: white;
	width: 100%;
	height: 20%;
	bottom: 0 !important;
	animation: successDeleteAnimation 0.1s 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.deleted_session > a {
	position: absolute;
	font-size: 20px;
	bottom: 0;
	left: 0;
	right: 0;
}
/*
.session_stop_button {
	position: absolute;
	background: white;
	width: 50%;
	height: 20%;
	bottom: 0;
	right: 0;
}

.session_stop_button > a {
	position: absolute;
	font-size: 20px;
	bottom: 0;
	left: 0;
	right: 0;
}

.session_stop_button:hover {
	z-index: 1;
}*/
.container_fill_animatione {
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 20%;
}
.container_fill_animation {
	position: absolute;
	background: red;
	width: 100%;
	height: 0;
	bottom: 20%;
}

.session_status_button {
	left: auto !important;
}

.session_stop_button {
	background: var(--red) !important;
}
.session_stop_button::before {
	content: "stopped";
	font-size: 20px !important;
}
.session_stop_button:hover::before {
	content: "run";
}
.session_stop_button:hover {
	background: var(--green) !important;
}
.session_stop_button:hover + .container_fill_animatione {
	background: var(--green) !important;
}

.session_run_button {
	background: var(--green) !important;
}
.session_run_button:hover {
	background: var(--red) !important;
}
.session_run_button:hover + .container_fill_animatione {
	background: var(--red) !important;
}
.session_run_button::before {
	content: "running";
	font-size: 20px !important;
}
.session_run_button:hover::before {
	content: "stop";
}

.session_status_button:hover + .container_fill_animatione {
	z-index: 1;
	animation: deleteSessionAnimation 0.1s 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;

}

.session_delete_button {
	background: var(--red) !important;
}
.session_delete_button::before {
	content: "delete";
	font-size: 20px !important;
}

.session_edit_button {
	background: #D3D3D3;
	font-size: 20px !important;
}

.session_edit_button:hover {
	background: gray; 
}

.vertical_space_between {
	position: relative;
	width: 50%;
	height: 40px;
}

.vertical_space_between:hover + .container_fill_animation {
	z-index: 1;
	background: rgb(255, 10, 30);
	animation: deleteSessionAnimation 0.1s 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}


.vertical_space_between > a {
	position: absolute;
	font-size: 20px;
	bottom: 0;
	left: 0;
	right: 0;
}

@keyframes successDeleteAnimation {
	from {
		height: 60%;
		background: rgb(255, 10, 30);
	}
	to {
		background: rgb(255, 10, 30);
		height: 100%;
	}
}

@keyframes deleteSessionAnimation {
	from {
	}
	to {
		width: 100%;
		height: 60%;
		color: white;
		font-size: 30px;
		font-family: "Arial";
	}
}

.hide {
	display: none;
}

.container_session_top {
	position: relative;
	background: #fffff0;
}

.append_session {
	position: relative;
	background: var(--green);
	padding: 10px;
	border-radius: 50px;
	display: flex;
}

.append_session > div {
	position: absolute;
	display: none;
	right: 0;
	width: 0;
	font-size: 20px;
	user-select: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.append_session:hover > div {
	display: block;
	width: 100px;
}

.append_session:hover {
	background: var(--green);
	animation: session-add-expand 0.1s 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes session-add-expand {
	from {
		width: 50px;
	}
	to {
		width: 10em;
	}
}

.Table {
	left: 0;
	border: 1px solid var(--border-bg-color);
}


@keyframes border-expand {
	from {
		left: 50%;
		width: 0;
	}
	to {
		left: 0;
		width: 100%;
	}
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0, 0.3);	
}

.modal-body {
	background: white;
	border: solid 1px black;
	border-radius: 10px;
	width: 80%;
	height: 80%;
	overflow-x: hidden;
	overflow-y: hidden;
	box-shadow: 1px 1px 20px black;
	position: relative;
}

.modal-bar {
	position: relative;
	background: #E2DFD2;
	width: 100%;
	margin-bottom: 1%;
	top: 0;
	left: 0;
	right: 0;
	height: 10%;
}

.modal-bar > a {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	font-size: 40px;
	top: 1%;
	left: 1%;
}

.modal-bar > .modal-close {
	position: absolute;
	right: 1%;
	top: 10%;
}

.modal-close:active {
	animation: rotateAnimation 1s 1;
}

@keyframes rotateAnimation {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}

.modal-content {
	position: relative;
	width: 100%;
	height: 90%;
	left: 0;
	right: 0;
}

.modal-form {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}

.modal-form > * {
	margin-bottom: 5%;
}

.modal-input {
	width: 90%;
	height: 20%;
	resize: none;
}

.modal-form-status {
	position: relative;
}

.button {
	background: #FAF9F6;
	position: relative;
	padding: 20px;
	border-radius: 20px;
	border: none;
	outline: 3px solid #E2DFD2;
}

.button:active {
	background: rgba(0,0,0, 0.2);
}
