:root {
	--color: black;
	--bg-color: #fbfbfb;
	--border-bg-color: Gainsboro;
	--main-bg-color: white;
}

.spa {
	display: flex;
	margin: 10px;
	color: var(--color);
}

.Table {
	left: 0;
	border: 1px solid var(--border-bg-color);
}

.navbar {
	position: relative;
	background-color: var(--bg-color); /*#36393e;*/
	backdrop-filter: blur(30px);
	color: var(--color);
	height: 30px;
	padding: 10px;
	/*border-bottom: 1px solid var(--border-bg-color);*/
}

.navbar > div {
	position: absolute;
	left: 1%;
	background: url(https://a.marketing.englishlive.ef.com/_assets/logos/englishlive.svg) no-repeat;
	background-size: 200px 30px;
	width: 100vh;
	height: 60%;
}

.navbar > nav {
	position: absolute;
	right: 0;
	filter: none;
}

.navbar > nav > ul {
	display: flex;
	margin: 0 auto;
	list-style: none;
}
.navbar > nav > ul > li {
	margin-right: 30px;
}

.navbar > nav > ul > li:hover {
	position: relative;
	border-bottom: 1px solid var(--border-bg-color);
}


.navbar > nav > ul > li > a {
	position: relative;
}

.navbar > nav > ul > li:hover > a {
	color: black;
}
